*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header img{
    width: 1540px;
    height: 400px;
}

.header h1{
    color: whitesmoke;
    font-family:'Noto Serif JP', serif;
    margin-left: 480px;
    margin-top: -190px;
    font-size: 140px;
}
.map{
    margin-left: 60px;
}
.contact{
    margin-left: 80px;
    margin-top: 12px;
    font-size: 20px;
    font-family:'Noto Serif JP', serif;
    
}
.bor{
    border-style: groove;
    border-radius: 5px;
    border-color: black;
    margin-left: 870px;
    margin-top: -400px;
    width: 600px;
    height: 350px;
}